<li>
    {{burger_name}}
    <br>
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}I want to try it!{{else}}It was delicious!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>
</li>